html, body{
  background-image: url('https://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed !important;
  font-family: 'Numans', sans-serif;
  }
  
ul {
  list-style-type: none;
  margin: 1;
  padding: 1;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}
.nav-right {
  
  float: right;
}
